.App {
  font-family: "Zen Dots", cursive;
}

/* -------------------- Navbar Component ---------------------------- */
nav {
  /* background-color: darkgrey; */
  height: 200px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.crowsNest {
  font-family: "Zen Dots", cursive;
  font-size: 25px;
  margin-left: 100px;
  text-align: center;
  margin-top: 55px;
}
.crowsNest span {
  font-size: 49px;
}

.statement {
  font-size: 20px;
}

.navSec {
  margin-top: 25px;
  position: absolute;
  right: 150px;
  display: grid;
  grid-template-columns: 250px 250px;
  box-shadow: 5px 2px 8px 1px grey;
}

.box {
  font-family: "Zen Dots", cursive;
  text-align: center;
  padding: 20px;
  border: 1px solid grey;
  /* background-color: #2f4691; */
}

.effect {
  -webkit-transition: 2s;
  transition: 1s;
}
.effect:hover {
  background: #2b3856;
  color: white;
  font-size: 18px;
}
/* //////////////////////////////////////////////////////////////////// */

/* ------------------- Homepage ---------------------------------- */

.signUpCnt {
  background-color: white;
  color: black;
  box-shadow: -7px -3px 18px #888888;
  width: 400px;
  height: fit-content;
  padding: 35px;
  text-align: center;
  margin-left: 200px;
  margin-top: 160px;
  margin-bottom: 100px;
  /* border-radius: 10px; */
  position: absolute;
  z-index: 9;
}

.signUpCnt div {
  font-family: "Courier New", Courier, monospace;
}

.signUpTitle {
  font-size: 30px;
  margin-bottom: 15px;
}

.selectMe {
  font-family: "Courier New", Courier, monospace;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.submitt {
  color: #616363;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  position: relative;
  left: 0;
  transition: all 0.35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #bfc0c0;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-7 img {
  width: 20px;
  height: auto;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover a {
  left: 150px;
}

.homeImgCnt {
  position: absolute;
  margin-top: 100px;
  margin-left: 390px;
}

.homeImg {
  width: 1000px;
  height: 600px;
  object-fit: cover;
  /* border-radius: 10px; */
  margin-bottom: 100px;
  box-shadow: 5px 10px 18px #888888;
}

.homeCnt {
  display: flex;
}

/* /////////////////////////////////////////////////////////////////// */
